/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/
.app-background {
  background-color: #f8d2de;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  height: 150px; 
}
.subheading {
  font-family: 'Satisfy', cursive;
  font-size: 150%;
  text-align: center;
  color: #1e9dff;
}

.subheading2 {
  color: #024379;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10%;
}
.menu-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.menu-row {
  display: flex;
  margin: 1% 5%;
  align-items: stretch;
}

.menu-image-col img {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  border-radius: .6rem;
  border: 6px solid #ffefef;
}

.menu-detail-col {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  justify-content: space-between;
  flex:1;
}
.menu-card-body {
  align-self: flex-start; /* This aligns the card body to the top */
  padding: 5px 0; /* Adjust padding as needed */
}
.menu-card-title {
  color: #4a3985;
  font-size: 17px;
  margin-bottom: .5rem;
  margin-top: .1rem;
}

.menu-card-text {
  margin-top: .5rem;
  font-size: 12px;
  color: #555;
}

.menu-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.menu-price-text {
  margin-top: .3rem;
  font-size: 13px;
  color: #1e7e35;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
}

.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px; 
  margin: 0 5px;
}

.quantity-btn.circular {
  border: 1px solid black;
  color: black;
  font-size: 14px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.cart {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}


